# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# IDE configurations
.idea/

# Environments
env/
.env
.env.*

# Database files
:memory
*.db
*.db-journal

# Logs
*.log*

# O365 auth
o365_token.txt

# keep secrets out of vc
.secrets.yaml
