# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# IDE configurations
.idea/

# Environments
.env
.venv
.flaskenv
env/
venv/
ENV/
env.bak/
venv.bak/

# database files
*.db
*.db-journal

# logs
*.log*

# O365 auth
o365_token.txt

# exclude hidden kustomization files.
.kustomization/**/.*.yaml
