apispec
click
flasgger
Flask
flask_restful
Flask-Caching
Flask-SQLAlchemy
jinja2
jira
marshmallow
mistune
O365
python-dotenv
requests
Werkzeug==0.16.1

# From git
git+git://github.com/rena2damas/o365-notifications