---
apiVersion: v1
kind: Pod
metadata:
  name: ticket-bridge
  labels:
    app: ticket-bridge
    framework: flask
  annotations:
    a8r.io/description: "Batch service for creating tickets out of mailbox events"
    a8r.io/owner: renatodamas
spec:
  containers:
    - name: ticket-bridge
      image: ticket-service:latest
      imagePullPolicy: Always
      command: [ "flask", "o365", "handle-incoming-email" ]
      envFrom:
        - secretRef:
            name: proxy
        - secretRef:
            name: postgres
        - secretRef:
            name: ticket-service
        - configMapRef:
            name: ticket-service
      resources:
        requests:
          cpu: 300m
          memory: 256Mi
        limits:
          cpu: 600m
          memory: 512Mi
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
  serviceAccountName: ticket-service
  restartPolicy: OnFailure