---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ticket-service
data:

  # application context
  APPLICATION_CONTEXT: /api/tickets/v3

  # version of OpenAPI
  OPENAPI: 3.0.3

  # the application providing info about the ticket
  TICKET_CLIENT_APP: https://example.com/

  # The mailbox to manage
  MAILBOX: mailbox@example.com

  #   * 'offline_access': to be eligible to retrieve a refresh_token.
  #      Otherwise user only has access to resources for a single hour.
  #   * 'message_all': alias for 'mail.readwrite' + 'mail.send'.
  #      For own user mailbox actions
  #   * 'message_all_shared': alias for 'mail.read.shared' + 'mail.readwrite.shared'.
  #      For shared mailbox actions
  O365_SCOPES: offline_access,message_all,message_all_shared

  # atlassian website
  ATLASSIAN_URL: https://atlassian.net

  # Jira settings
  JIRA_TICKET_TYPE: Task
  JIRA_TICKET_LABELS: ticket
  JIRA_TICKET_LABEL_CATEGORIES: general,bug
  JIRA_TICKET_LABEL_DEFAULT_CATEGORY: general

  # Jira supported boards
  JIRA_BOARDS: JIRA_SPRINT_BOARD,JIRA_SUPPORT_BOARD
  JIRA_SPRINT_BOARD: HPC
  JIRA_SUPPORT_BOARD: HPC-support
  JIRA_DEFAULT_BOARD: JIRA_SUPPORT_BOARD

  # filter settings
  EMAIL_WHITELISTED_DOMAINS: example.com
  EMAIL_BLACKLIST: malicious@example.com