---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: ticket-api
spec:
  rules:
    - host: services.com
      http:
        paths:
          - path: /api/tickets
            backend:
              serviceName: ticket-api
              servicePort: 80
