Dear user,

In regards to the reported issue __{{ summary }}__, the ticket [{{ key }}]({{ url }}/support/tickets?board=support&q={{ key }}) was created.
Please track the progress of the issue in our [HPDA Portal]({{ url }}/support/tickets?board=support&q={{ key }}).

Best regards,
HPC Support Team
