Dear HPDA user,

In regards to the reported issue __{{ summary }}__, the ticket [{{ key }}]({{ url }}) was created.<br/>
Please track the progress of the issue in our [HPDA Portal]({{ url }})

Best regards,<br/>
HPDA Support Team